<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.TestCases.LoginPageTest"/>
      <class name="com.TestCases.AdminHomePageTest"/>
      <class name="com.TestCases.DashboardPageTest"/>
      <class name="com.TestCases.ForgotPasswordPageTest"/>
      <class name="com.TestCases.AdminMyDetailsPageTest"/>
      <class name="com.TestCases.AddCompanyPageTest"/>
      <class name="com.TestCases.CompanyDetailsPageTest"/>
      <class name="com.TestCases.PreferencesPageTest"/>
      <class name="com.TestCases.AdminMyDetailsEducationDetailsTest"/>
      <class name="com.TestCases.AdminMyDetailsWorkAuthorizationPageTest"/>
      <class name="com.TestCases.EditCompanyPageTest"/>
      <class name="com.TestCases.AdminMyDetailsContactPageTest"/>
      <class name="com.TestCases.CompanyListPageTest"/>
      <class name="com.TestCases.BusinessCategoriesPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
